header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:black;
    padding: 10px;
    color:white;
  }
  
  .logo {
    margin: 0;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar li {
    margin: 0 10px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
  }
  
    
    
  
  
  table {
      border-collapse: collapse;
      width: 100%;
  }
  
  th, td {
      border: 1px solid white;
      padding: 10px;
  }
  h1{
      text-align: center;
      font-size: xx-large;
      color:bisque;
      
  }
  .my-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .my-form label {
    margin-bottom: 5px;
  }
  
  .my-form input,
  .my-form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
  }
  
  
  .image-container {
    float: left;
    
  }
  
  .image-container img {
  
    height: auto;width: auto;
  }
  body{
      background-color:black;
      color:white;
      cursor: pointer;
  }
  h2{
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-decoration-line: underline;
      text-shadow: #ccc;
      text-overflow: clip;
      color:rgb(210, 151, 151);
  
  }
  legend h2{
      text-align: center;
  }
  #about{
      font-size: x-large;
  }
  #work{
      text-align: center;
      font-size: x-large;
  }
  footer{
      float: right;
  }
  #video{
      justify-items: center;
      align-content: center;
      align-items: center;
      text-align: center;
  }